# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int - Integer types are whole numbers

##### Assinging float - Float types are decimals

In [6]:
num =1 
num2= 20
print(num,num2)
print(type(num))

1 20
<class 'int'>

#### Performing Calculations on ints and floats

##### Addition (+)

In [9]:
print(num + num2)
print(float_num + num)

<class 'float'>

##### Subtraction (-)

In [12]:
print(num - num2)
print(float_num - num)

-19
1.0

##### Multiplication (*)

In [13]:
print(num * num2)
print(float_num * num)

20
2.0

##### Division (/)

In [14]:
print(num / num2)
print(float_num / num)

0.05
2.0

##### Floor Division (//) - Normal division but returns the largest possible integer

In [16]:
print(20//3)

6

##### Modulo (%) - Returns the remainder of division

In [18]:
print(20%3)

2

##### Exponential (**)

In [20]:
print(5**3)

125

### String Input-Output

##### String Assignment

In [22]:
first_name ='maria'
last_name='rodriguez'
print(first_name, last_name)
print(type(first_name))

maria rodriguez
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [23]:
print(first_name, end="thieves")

mariathieves

##### String Concatenation

In [25]:
print(first_name + " " + last_name)

maria rodriguez

##### Type Conversion

In [28]:
fav_num='3'
num = 12
print(fav_num)
print(str(fav_num)) 
print(num + int(fav_num))

3
3
15

##### input()

In [32]:
age = input('What is your age')
print(int(age))

20

##### .format()

In [37]:
# using format method
greeting= "Hello my name is {} and I am {} years old".format('Meli', 20)
print(greeting)

# using f-strings
greeting_again=f'Hello my name is {first_name.title()} and I am {age} years old'
print(greeting_again)

Hello my name is Meli and I am 20 years old
Hello my name is Maria and I am 20 years old

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [41]:
color=input('What is the color of your vehicle?')
year=input('What year is your vehicle?')
make=input('Who manufactured your car?')
model=input('What is the model of your vehicle')
answer =f'I drive a {color} {year} {make} {model}!'
print(answer)

I drive a red 2010 KIA optima!

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T and F = F
# T and T = T
# T or F = T
# F or T = T
# F or F = F

##### 'is' keyword - Checks if the value refers to the same object in memory, not if they equal each other

##### primitive data types = strings, ints, floats, boolean
##### non-primitive data types = arrays, lists, tuples, dictionarys, sets

In [44]:
str1 = ['Heather', 'Lee','Daniel']
str2 = ['Heather', 'Lee','Daniel']

print(list1 == list2)
print(id(list1))
print(id(list2))

True
1731597020608
1731598191040

##### 'in' keyword = used to check if a value is present in a sequence

In [45]:
material =['html/css','python','sequel']

print('python' in material)
print('flask' not in material)

True
True

##### 'not in' keyword'

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [57]:
user=input('Is the letter P in your input').lower()
letter= 'p'
print('p' in user)

True

## Using 'and'/'or' with If Statements

In [61]:
#(AND) Both conditionals need to be true for the if block to run
if (5==5 and 'thieves' == 'thieves'):
    print(True)
else:
    print(False)

#(OR) One conditional needs to be true for the if block to run
if (5==5 or 'thieves' == 'thieves'):
    print(True)
else:
    print(False)

True
True

### Elif Statements

In [63]:
winning_num = 7
guessed_num = int(input('Guess a number between 1-10... may the RNG lords be with you!'))
if (guessed_num > winning_num):
     print("your number is too high")
elif(guessed_num < winning_num):
     print('your number is too low')
else:
     print('you guessed the correct number')

TypeError: '>' not supported between instances of 'str' and 'int'

### Else Statements

In [ ]:
# see above

### For Loops

In [68]:
instructors=['christian', 'dylan', 'shoha']
for name in instructors:
    print(name)

christian
dylan
shoha

##### Continue Statement

In [69]:
# will continue to next iteration
for name in instructors:
    if (name =='dylan'):
        continue
    print(name)

christian
shoha

##### Break Statement

In [70]:
# will break out of current loop
for name in instructors:
    if (name =='dylan'):
        break
    print(name)

christian

##### Pass Statement

In [71]:
# mostly used as a placeholder, and will continue on same iteration
def using_pass():
    pass

student1 = "Adrienne"

##### Double For Loops

In [72]:
colors = ['red', 'black','white']
cars=['astrovan','chevelle','supra']

for color in colors:
    for car in cars:
        print(color, car)

red astrovan
red chevelle
red supra
black astrovan
black chevelle
black supra
white astrovan
white chevelle
white supra

### While Loops

In [73]:
# will run up until the condition is met
num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

##### While & For Loops Used Together

In [77]:
# winning_num = 7
# guessed_num = int(input('Guess a number between 1-10... may the RNG lords be with you!'))
# if (guessed_num > winning_num):
#      print("your number is too high")
# elif(guessed_num < winning_num):
#      print('your number is too low')
# else:
#      print('you guessed the correct number!')
#      break

SyntaxError: 'break' outside loop (3738819370.py, line 9)

### Built-In Functions

##### range() - range(start,stop,step)

In [83]:
for num in range(1,11,5):
    print(num)

1
6

##### len() - finds the total number of elements in a data type

In [88]:
students = ['Alex', 'Aakash', 'Kevin']
for idx in range(len(students)):
    print(idx)

0
1
2

##### help() -  used to display the documentation of modules, functions, classes, keywords, etc.

##### isinstance() - checks if the object is the type

In [92]:
print(isinstance(students, list))

True

##### abs() - returns the absolute value

In [94]:
print(abs(-7))

7

### Try and Except Blocks
#### try - lets you test a block of code for errors
#### except - lets you handle the error

In [96]:
# while True:
#     try:
#     age = int(input('eneter your age'))
# print(age)
# break
#         except ValueError:
# print('Please input a valid number')

Please input a valid number

### Lists

##### Declaring Lists

In [128]:
students2= ['Maria','Anthony','Peter']

##### Indexing a List

In [129]:
print(students2[1])
print(students2[-1])

Anthony
Peter

##### List Slicing (start, stop, step)

In [130]:
print(students[1:])
print(students[::])
print(students[::-1])

['Lee', 'Lee', 'Lee', 'Lee', 'Lee', 'Danny', 'Danny', 'Aakash', 'Kevin']
['Lee', 'Lee', 'Lee', 'Lee', 'Lee', 'Lee', 'Danny', 'Danny', 'Aakash', 'Kevin']
['Kevin', 'Aakash', 'Danny', 'Danny', 'Lee', 'Lee', 'Lee', 'Lee', 'Lee', 'Lee']

##### .append() - Add element to end of list

In [131]:
students.append('Ricardo')
print(students)

['Lee', 'Lee', 'Lee', 'Lee', 'Lee', 'Lee', 'Danny', 'Danny', 'Aakash', 'Kevin', 'Ricardo']

##### .insert() - Inserts element at specific index

In [132]:
students.insert(1, 'Lee')
print(students)

['Lee', 'Lee', 'Lee', 'Lee', 'Lee', 'Lee', 'Lee', 'Danny', 'Danny', 'Aakash', 'Kevin', 'Ricardo']

##### .pop() - removes the item at a specific index and returns it


##### .remove() - removes the first matching value, not a specific index

In [133]:
popped = students.pop(0)
print(popped)
print(students)

Lee
['Lee', 'Lee', 'Lee', 'Lee', 'Lee', 'Lee', 'Danny', 'Danny', 'Aakash', 'Kevin', 'Ricardo']

##### del - removes the item at a specific index

In [123]:
my_nums=[1,2,2,2,3,4,5]
my_nums.remove(2)
my_nums.remove(2)
print(my_nums)
del my_nums[2]
print(my_nums)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

##### Concatenating Two Lists

In [124]:
nfl_teams =['seattle', 'ravens', 'eagles']
nba_teams = ['lakers', 'bulls','warriors']
all_teams = nfl_teams + nba_teams
print(all_teams)

['seattle', 'ravens', 'eagles', 'lakers', 'bulls', 'warriors']

##### Lists Within Lists

In [126]:
grades = [[0,3,4,5], [5,5,5,5], [0,0,0,1]]
print(grades)
print(grades[0][2])

[[0, 3, 4, 5], [5, 5, 5, 5], [0, 0, 0, 1]]
4

##### Looping Through Nested Lists

In [127]:
instructors = ['christian', 'dylan', ['shoha','ryan']]
for item in instructors:
    if (isinstance(item, list)):
        for name in item:
            print(name)

shoha
ryan

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [16]:
# while loop

num = 0 

while num < 11:
    cubed = num ** 3
    print(cubed)
    num+=1

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [8]:
for num in range(100):
    if num > 1:

        for i in range(2, num):
            if num % i == 0:
                break
        else: 
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [9]:
age = int(input('What is your age?'))
if age < 18:
    print("You are a kid!")
elif age <= 65:
    print("You are an adult!")
else:
    print("You are a senior!")

You are an adult!